.container{
    max-width: 980px;
    width: 100%;
    max-height: 1250px;
    display: flex;
    background: #666666;
    flex-wrap: wrap;
}
#box1{
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 310px;
}
#box2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:0;
}
#box3{
    margin:0;
}
#blog, #Menu, #logo, #phone, #slideshow, #text-content, #sidebar, #footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
p{
    color:beige;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
}
#blog{
    background: #aaaaaa;
    height: 60px;
    width:100%;
    margin:3px;
}
#Menu{
    background: #aaaaaa;
    height: 40px;
    width: 300px;
    margin: 3px;
}
#logo{
    background: #aaaaaa;
    height: 100px;
    width: 200px;
    margin: 3px;
    flex-shrink: 2;
}
#phone{
    background: #aaaaaa;
    height:40px;
    width:200px;
    margin:3px;
    font-size: x-small;
}
#slideshow{
    background: #aaaaaa;
    height: 300px;
    width: 644px;
    margin: 3px;
    flex-shrink: 2;
}
#sidebar{
    background: #aaaaaa;
    width: 322px;
    height: 610px;
    margin:3px;
    flex-shrink:1;
}
#text-content{
    background: #aaaaaa;
    width: 644px;
    height: 300px;
    margin: 3px;
    flex-shrink: 2;
}
#footer{
    background: #aaaaaa;
    height: 300px;
    width:100%;
    margin:3px;
}
@media only screen and (max-width: 980px)
{ .container{
    display:flex;
    flex-direction: column;
    height: 1300px;
    align-items:flex-start;
}
}